<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Notes to Self</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <script src="/javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header class="without-description">
        <h1><a href="/">Notes to Self</a></h1>
        <p></p>
        <p class="view"><a href="https://github.com/ssarabando/ssarabando.github.com">View the Project on GitHub <small>ssarabando</small></a></p>
        <ul>
          <li class="single"><a href="">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>

			{{ content }}

        <!--
<pre><code>$ cd your_repo_root/repo_name
$ git fetch origin
$ git checkout gh-pages
</code></pre>
        -->
      </section>
      {% include comments.html %}
    </div>
    <footer>
      <p>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
      <p>
        <a href="http://stackoverflow.com/users/215576/ssarabando">
          <img src="http://stackoverflow.com/users/flair/215576.png?theme=dark" width="208" height="58" alt="profile for ssarabando at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for ssarabando at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
        </a>
      </p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
    
  </body>
</html>
